{
  "swagger": "2.0",
  "info": {
    "title": "Daymet Single Pixel Tool API",
    "description": "Welcome to the Daymet Single Pixel Tool API. You can use this API to download daily surface data within the Daymet database in a `csv` or `json` format for a single point. This API allows users to query a single geographic point by latitude and longitude in decimal degrees. A routine is executed that translates the (lon, lat) coordinates into projected Daymet (x,y) Lambert Conformal Coordinates. These coordinates are used to access the Daymet database of daily interpolated surface weather variables. Daily data from the nearest 1 km x 1 km Daymet grid cell are extracted from the database.\n\nIf you would like to learn how to automate the download of multiple locations for the Daymet Single Pixel Tool, click [here](https://github.com/ornldaac/daymet-single-pixel-batch).",
    "version": "1.0.0"
  },
  "host": "daymet.ornl.gov",
  "basePath": "/single-pixel",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/data": {
      "get": {
        "summary": "Download Daymet Data",
        "description": "Returns a csv or json of the requested data to local machine",
        "produces": [
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "lat",
            "description": "Latitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "lon",
            "description": "Longitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "vars",
            "description": "Daymet Daily weather estimates.",
            "collectionFormat": "csv",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "years",
            "description": "Subset on years [1980..2017].",
            "collectionFormat": "csv",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "start",
            "description": "Subset on dates (start date).",
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "end",
            "description": "Subset on dates (end date).",
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "format",
            "description": "Specify a format for data retrieval.",
            "required":true,
            "type": "string",
            "enum": [ "csv", "json"]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Execution"
          },
          "default": {
            "description": "Unexpected Error"
          }
        }
      }
    },
    "/preview": {
      "get": {
        "summary": "Preview Daymet Data in a web browser",
        "description": "Returns a table to the browser displaying requested data",
        "produces": [
          "application/html"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "lat",
            "description": "Latitude component of location",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "lon",
            "description": "Longitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "vars",
            "description": "Daymet Daily weather estimates.",
            "collectionFormat": "csv",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "years",
            "description": "Subset on years [1980..2016].",
            "collectionFormat": "csv",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "start",
            "description": "Subset on dates (start date).",
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "end",
            "description": "Subset on dates (end date).",
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "format",
            "description": "Specify a format for data retrieval.",
            "required":true,
            "type": "string",
            "enum":["csv","json"]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Execution"
          },
          "default": {
            "description": "Unexpected Error"
          }
        }
      }
    },
    "/send/saveData": {
      "get": {
        "summary": "Download Daymet Data",
        "description": "Returns a csv or json of the requested data to local machine",
        "produces": [
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "lat",
            "description": "Latitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "lon",
            "description": "Longitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "vars",
            "description": "Daymet Daily weather estimates.",
            "collectionFormat": "csv",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "years",
            "description": "Subset on years [1980..2016].",
            "collectionFormat": "csv",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "start",
            "description": "Subset on dates (start date).",
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "end",
            "description": "Subset on dates (end date).",
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "format",
            "description": "Specify a format for data retrieval.",
            "required": true,
            "type": "string",
            "enum":["csv","json"]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Execution"
          },
          "default": {
            "description": "Unexpected Error"
          }
        }
      }
    },
    "/visualize": {
      "get": {
        "summary": "Visualize Daymet Data in a web browser",
        "description": "Returns plots to a web browser of requested data using Plotly",
        "produces": [
          "application/html"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "lat",
            "description": "Latitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "lon",
            "description": "Longitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "in": "query",
            "name": "vars",
            "description": "Daymet Daily weather estimates.",
            "collectionFormat": "csv",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "years",
            "description": "Subset on years [1980..2016].",
            "collectionFormat": "csv",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "start",
            "description": "Subset on dates (start date).",
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "end",
            "description": "Subset on dates (end date).",
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "format",
            "description": "Specify a format for data retrieval.",
            "required": true,
            "type": "string",
            "enum":["csv","json"]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Execution"
          },
          "default": {
            "description": "Unexpected Error"
          }
        }
      }
    }
  }
}
